:root {
    --main-bg: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main-heading-stats: hsl(0, 0%, 100%);
    --main-para: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

/* Non-viewport dependant styles */

body {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

main {
    background-color: var(--card-bg);
}

span {
    color: var(--accent);
}

h1 {
    color: var(--main-heading-stats);
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

p {
    color: var(--main-para);
    line-height: 1.625;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat {
    color: var(--main-heading-stats);
}

.stat-heading {
    color: var(--stat-headings);
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.stat {
    font-family: "Inter", serif;
    font-weight: 700;
}

/* Mobile view */
main {
    width: 80%;
    max-width: 375px;
    height: fit-content;
    border-radius: 0.75rem;
}

img {
    width: 100%;
    height: 33.33%;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
    display: block;
}

.info-section {
    height: 33.33%;
}

h1 {
    margin: 1.125rem auto;
    text-align: center;
    width: 85%;
    font-size: 1.6rem;
}

p {
    text-align: center;
    margin: 0rem auto;
    width: 85%;
    font-size: 0.8rem;
}

.stat-section {
    height: 33.33%;
    margin: 1.25rem auto 2rem;
}

.stat-container {
    margin: 0.75rem auto;
}

.stat {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.stat-heading {
    font-size: 0.75rem;
    letter-spacing: 1.25px;
}

/* Desktop view */

@media screen and (min-width: 1440px) {
    main {
        display: flex;
        flex-direction: row-reverse;
        border-radius: 0.75rem;
        width: 75%;
        max-width: 1100px;
        height: fit-content;
    }   
    
    .images {
        width: 50%;
        height: auto;
    }

    img {
        background-image: url(./images/image-header-desktop.jpg);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        border-radius: 0rem 0.75rem 0.75rem 0rem;
    }

    .non-image-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    h1 {
        font-size: 3rem;
        text-align: left;
        width: 70%;
    }

    p {
        width: 65%;
        text-align: left;
    }

    .stat-section {
        display: flex;
        flex-direction: row;
        width: 75%;
        margin: 1rem auto;
    }
}






footer { 
    font-size: 11px; text-align: center; 
    position: absolute;
    bottom: 0;
    color: var(--stat-headings);
}
footer a { 
    color: hsl(228, 45%, 44%); 
}