:root {
    --main-bg: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main-heading-stats: hsl(0, 0%, 100%);
    --main-para: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
    --overlay-amethyst: rgba(178, 66, 212, 0.471);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

/* Non-viewport dependant styles */

body {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

main {
    background-color: var(--card-bg);
    border-radius: 0.5rem;
}

.images {
    width: 100%;
    height: fit-content;
    background-color: var(--overlay-amethyst);
}

span {
    color: var(--accent);
}

h1 {
    color: var(--main-heading-stats);
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

p {
    color: var(--main-para);
    line-height: 1.625;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat {
    color: var(--main-heading-stats);
}

.stat-heading {
    color: var(--stat-headings);
    text-transform: uppercase;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.stat {
    font-family: "Inter", serif;
    font-weight: 700;
}

/* Mobile view */
main {
    width: 70%;
    max-width: 265px;
    height: fit-content;
}

.images {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    display: block;
    mix-blend-mode: overlay;
}

h1 {
    margin: 1.125rem auto;
    text-align: center;
    width: 85%;
    font-size: 1.4rem;
}

p {
    text-align: center;
    margin: 0rem auto;
    width: 85%;
    font-size: 0.65rem;
}

.stat-section {
    margin: 1.25rem auto 2rem;
}

.stat-container {
    margin: 0.75rem auto;
}

.stat {
    font-size: 1.25rem;
    margin: 0.25rem;
}

.stat-heading {
    font-size: 0.65rem;
    letter-spacing: 1.25px;
    font-weight: 400;
}

/* Desktop view */

@media screen and (min-width: 1440px) {
    main {
        display: flex;
        flex-direction: row-reverse;
        border-radius: 0.5rem;
        width: 90%;
        max-width: 1125px;
        height: 450px;
    }   
    
    .images {
        width: 50%;
        height: auto;
        border-radius: 0rem 0.5rem 0.5rem 0rem;
    }

    img {
        background-image: url(./images/image-header-desktop.jpg);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        border-radius: 0rem 0.625rem 0.625rem 0rem;
    }

    .non-image-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2rem;
    }

    h1 {
        font-size: 2.5rem;
        text-align: left;
        width: 90%;
        margin: 3rem 0rem 1rem 3rem;
        padding: 0;
    }

    p {
        width: 75%;
        text-align: left;
        font-size: 0.9rem;
        line-height: 1.75;
        margin: 1.75rem 0rem 0rem 3rem;
    }

    .stat-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 65%;
        margin: 0rem 0rem 0rem 3rem;
    }

    .stat-container {
        margin: 3rem 0rem 1rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: first baseline;
    }

    .stat {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
    }

    .stat-heading {
        margin: 0.5rem;
        padding: 0;
        font-size: 0.75rem;
        letter-spacing: 1px;
    }
}






footer { 
    font-size: 11px; text-align: center; 
    position: absolute;
    bottom: 0;
    color: var(--stat-headings);
}
footer a { 
    color: hsl(228, 45%, 44%); 
}